alabaster==0.7.13
attrs==23.1.0
Babel==2.12.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
docutils==0.19
Fiona==1.9.3
Flask==2.2.5
Flask-Cors==3.0.10
fonttools==4.38.0
geopandas==0.10.2
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.5.3
munch==2.5.0
networkx==2.6.3
numpy==1.21.6
osmnx==1.1.2
packaging==23.1
pandas==1.3.5
Pillow==9.5.0
Pygments==2.15.1
pyparsing==3.0.9
pytest==7.3.1
pytest-cov==4.0.0
pyproj==3.2.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
Rtree==1.0.1
scikit-learn==1.0.2
scipy==1.7.3
Shapely==1.8.5.post1
six==1.16.0
snowballstemmer==2.2.0
sphinx==5.3.0
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
threadpoolctl==3.1.0
typing-extensions==4.5.0
urllib3==2.0.2
Werkzeug==2.2.3
zipp==3.15.0
